@media (max-width: 768px)
{
    body{
        background-size: cover;
        background-position: center;
        background-repeat: repeat;
        margin:20px;
        height: 100dvh;
        background-blend-mode: normal;
    }
    .footer{
        display: none;
    }

    .image-grid{
        display: none;
    }

    .day-menu{
        display: none;
    }

    .day-menu-mobile{
        display:inline-flex;
        align-items: center;
        margin: 20px;
        gap: 2%;
    }

    .left-arrow{
        background-image: url(resources/left-arrow.png);
    }
    
    .right-arrow{
        
        background-image: url(resources/right-arrow.png);
    }

    .day-menu-mobile button{
        background-repeat: no-repeat;
        background-size: cover;
        width: 50px;
        height: 50px;
        border: 0px;
        background-color: rgb(0, 0, 0, 0);
        align-items: center;
    }
    
    .grey-label{
        font-size: 10px;
        color: #505050;
        align-items: center;
    }

    .current{
        font-size: 15px;
    }

    h1{
        font-size: 20px;
        margin: 20px 50px 20px 50px;
    }

    h2{
        font-size: 15px;
        margin: 3vw 5vw 3vw 5vw;
    }

    .day-labels{
        text-align: center;
        padding: 10px 0px 10px 0px;
        align-items: center;
        display: flex;
        gap: 5%;
        width: 50%;
    }

    .accordion-container{
        display: block;
    }
}