{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valjevo Night Life</title>
    <link rel="stylesheet" href="{% static 'main/styles_main.css' %}">
    <link rel="stylesheet" href="{% static 'main/styles_mobile_new.css' %}">
    <script src="{% static 'main/script.js' %}"></script>
</head>
<body>
    <h1>Dobrodosli na Valjevo Night Life!</h1>
    <h2>Ovde mozete naci najpopularnija mesta za izlazak u gradu, zajedno sa informacijama o live svirkama, nastupima poznatih i slicnom.</h2>
    
    <!-- Day Menus -->
    <div class="day-menu">
        {%for dayi, dayindex in days%}
        <button onclick="filter('{{dayindex}}')"> {{dayi}} </button>
        {%endfor%}
    </div>
    <script>
        function filter(day)
        {
            const url = new URL(window.location.href);
            url.searchParams.set('datum', day);
            window.location.href = url;
        }
    </script>
    
    <div class="day-menu-mobile">
        <button class="left-arrow">  </button>
        <label class="current"> Dan </label>
        <button class="right-arrow">  </button>
    </div>

    <!-- Image Grid -->
    <div class="image-grid">
        {%if svirke %}
        {%for svirka in svirke%}
        <div class="image-item" onclick="openPopup('{{svirka.kafic.Ime}}', '{{ svirka.opis }}', '{{svirka.kafic.iglink}}', '{{svirka.kafic.walink}}')">
            <img id="{{svirka.kafic.Ime}}" src="{{svirka.kafic.photo.url}}" alt="Image 1" class="kafic-image" data-name="{{ svirka.kafic.Ime }}" data-about="{{ svirka.opis }}" data-photo="{{ svirka.kafic.photo.url }}">
            <p>{{svirka.kafic.Ime}}</p>
        </div>
        {%endfor%}
        {% else %}
            <p >Nema nijedne svirke u {{danlabel}}</p>
        {%endif%}
    </div>

    <!-- Popup -->
    <div id="popup" class="popup" onclick="closePopupOutside(event)">
        <div class="popup-content">
            <span class="close-btn" onclick="closePopup()"></span>
            <div id="popup-logo" > </div>
            <h2 id="popup-header"></h2>
            <p id="popup-label1"></p>
            <div class="reservations">
                <p id="popup-label2"> Rezervcije: </p>
                <div class="popup-actions">
                    <a class="popup-btn" href="" id="instalink"></a>
                    <a class="popup-btn secondary" href="" id="walink"></a>
            </div>
            </div>
        </div>
    </div>

    <!--
    <div class="accordion-container">
        
        <div class="accordion">
            <div class="accordion-header">
                <div class="accordion-labels">
                    <p class="label">Oui Mon Cheri</p>
                    <p class="label" class="subtitle">04/01/2024</p>
                </div>
                <div class="accordion-arrow">▼</div>
            </div>
            <div class="accordion-content">
                <p>Content for accordion 1</p>
            </div>
        </div>
        <div class="accordion">
            <div class="accordion-header">
                <div class="accordion-labels">
                    <p class="label">Fungi Art Caffe</p>
                    <p class="label subtitle">04/01/2024</p>
                </div>
                <div class="accordion-arrow">▼</div>
            </div>
            <div class="accordion-content">
                <p>Content for accordion 2</p>
            </div>
        </div>
        <div class="accordion">
            <div class="accordion-header">
                <div class="accordion-labels">
                    <p class="label">Zipa Night Club</p>
                    <p class="label subtitle">04/01/2024</p>
                </div>
                <div class="accordion-arrow">▼</div>
            </div>
            <div class="accordion-content">
                <p>Content for accordion 2</p>
            </div>
        </div>
        <div class="accordion">
            <div class="accordion-header">
                <div class="accordion-labels">
                    <p class="label">Time Zone</p>
                    <p class="label subtitle">04/01/2024</p>
                </div>
                <div class="accordion-arrow">▼</div>
            </div>
            <div class="accordion-content">
                <p>Content for accordion 2</p>
            </div>
        </div>
        <div class="accordion">
            <div class="accordion-header">
                <div class="accordion-labels">
                    <p class="label">Pivnica Tschardak</p>
                    <p class="label subtitle">04/01/2024</p>
                </div>
                <div class="accordion-arrow">▼</div>
            </div>
            <div class="accordion-content">
                <p>Content for accordion 2</p>
            </div>
        </div>
        <div class="accordion">
            <div class="accordion-header">
                <div class="accordion-labels">
                    <p class="label">Caffe Centar</p>
                    <p class="label subtitle">04/01/2024</p> 
                </div>
                <div class="accordion-arrow">▼</div>
            </div>
            <div class="accordion-content">
                <p>Content for accordion 2</p>
            </div>
        </div>
    </div> -->

    <!-- Footer -->
    <div class="footer">
        <p>Contact <br> <br>
            email: dimitrijevicrelja2006@gmail.com <br><br>
            phone number: 064 456 9327 <br>
        </p>
      </div>
</body>
</html>